In [2]:
import pandas as pd
import numpy as np
import random
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('cleaned_dataset.csv')

In [6]:
users = df['user']
df = df.drop(columns=['user'])

In [8]:
df.housing.value_counts()

na    13856
R     10969
O      2171
Name: housing, dtype: int64

In [9]:
df.groupby('housing')['churn'].nunique().reset_index()

  housing  churn
0       O      2
1       R      2
2      na      2

In [14]:
df = pd.get_dummies(df)

In [16]:
df.columns

Index(['churn', 'age', 'deposits', 'withdrawal', 'purchases_partners',
       'purchases', 'cc_taken', 'cc_recommended', 'cc_disliked', 'cc_liked',
       'cc_application_begin', 'app_downloaded', 'web_user', 'ios_user',
       'android_user', 'registered_phones', 'waiting_4_loan', 'cancelled_loan',
       'received_loan', 'rejected_loan', 'left_for_two_month_plus',
       'left_for_one_month', 'reward_rate', 'is_referred', 'housing_O',
       'housing_R', 'housing_na', 'payment_type_Bi-Weekly',
       'payment_type_Monthly', 'payment_type_Semi-Monthly',
       'payment_type_Weekly', 'payment_type_na', 'zodiac_sign_Aquarius',
       'zodiac_sign_Aries', 'zodiac_sign_Cancer', 'zodiac_sign_Capricorn',
       'zodiac_sign_Gemini', 'zodiac_sign_Leo', 'zodiac_sign_Libra',
       'zodiac_sign_Pisces', 'zodiac_sign_Sagittarius', 'zodiac_sign_Scorpio',
       'zodiac_sign_Taurus', 'zodiac_sign_Virgo', 'zodiac_sign_na'],
      dtype='object')

In [17]:
df = df.drop(columns = ['housing_na', 'zodiac_sign_na', 'payment_type_na'])

In [18]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(df.drop(columns=['churn']),df['churn'],test_size=0.2,random_state=32)

In [19]:
y_train.value_counts()

0    12672
1     8924
Name: churn, dtype: int64

In [20]:
pos_index = y_train[y_train.values == 1].index
neg_index = y_train[y_train.values == 0].index